<launch>

    <include file="$(find stx_control)/launch/start_er9.launch"/>

    <node name="arm_controller" pkg="stx_control" type="stx_controller_simulation_client.py" output="screen" launch-prefix="bash -c 'sleep 2; $0 $@' " >
        <param name="MC-IP" value="127.0.0.1" />
    </node>

    <node name="simulation_mc" pkg="stx_control" type="stx_contoller_simulation_server.py" output="log" />

</launch>